<div class="row" id="table_of_contents">
  <h2>Table of Contents</h2>
  {{ table_of_contents | raw }}
</div>
<style type="text/css">

#table_of_contents ul
{
  list-style-type: lower-roman;
  margin-left: 0;
  padding-left: 20px;
}

#table_of_contents li a
{
  line-height: 180%;
}
#table_of_contents ul li
{
  list-style-type: none;
}

#table_of_contents ul ul.menu_level_1 > li
{
  border-left: 2px dotted #ccc;
  padding-left: 5px;
  margin-bottom: 2px;
}

/*H2 heading links*/
#table_of_contents > ul > li > a
{
  display: block;
  font-size: 120%;
  font-weight: bold;
  line-height: 200%;
  border-left: none;
  padding-left: 0px;
  margin-bottom: 5px;
}
/*H3 heading links*/
#table_of_contents ul.menu_level_1 > li > a
{
  font-size: 110%;
  line-height: 200%;
}
/*H4 heading links*/
#table_of_contents ul.menu_level_2
{
  padding-left: 0px;
}
#table_of_contents ul.menu_level_2 li.last
{
  padding-bottom: 5px;
}
#table_of_contents ul.menu_level_2 > li > a
{
  font-size: 90%;
  font-weight: lighter;
  line-height: 200%;
}
</style>
