<div id="report" class="container">
  #table_of_contents#
  <!-- Example row of columns -->
  <div class="row">

    {% for section in sections %}
      <section>
      {{ section | raw }}
      </section>
    {% endfor %}

  </div>
  <hr>
</div> <!-- /container -->
