<div class="row" id="table_of_contents">
  <h2>Table of Contents</h2>
  {{ table_of_contents | raw }}
</div>
<style type="text/css">

#table_of_contents ul
{
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

#table_of_contents li a
{
  line-height: 180%;
}
#table_of_contents ul li
{
  list-style-type: none;
  padding-left: 5px;
  margin-bottom: 2px;
}

#table_of_contents > ul ul
{
  padding-left: 5px;
  padding-bottom: 5px;
}
/*H2 heading links*/
#table_of_contents > ul > li > a
{
  font-weight: bold;
  font-size: 19px; /* Same as H4 */
  line-height: 200%;
}

#table_of_contents ul.menu_level_2 a
{
  font-weight: lighter;
}
</style>
